@using SimpleEcommerceWebsite.Models;
@using SimpleEcommerceWebsite;
@using SimpleEcommerceWebsite.Service.Resource.Enum;
@model SimpleEcommerceWebsite.Models.SearchModel
@{
    var productAllcode = AllcodeService.GetAllCodeByTable("Product");
    var productType = productAllcode.Where(x => x.IdentityScope == ProductEnum.ProductCodes.ProductType.ToString());

    var orderPrice = new List<Allcode>() { new Allcode {Id = (int)PriceOrderEnum.Increase, IdentityValueName = PriceOrderEnum.Increase.ToString() },
                                          new Allcode {Id = (int)PriceOrderEnum.Decrease, IdentityValueName = PriceOrderEnum.Decrease.ToString() }};
                                         }

    @using (Html.BeginForm("SearchProduct", "Home", FormMethod.Post, new { @id = "frmSearch" }))
{
    @*<label>Product Id:</label>
        @Html.TextBoxFor(m => m.ProductId, new { @placeholder = "Input Productid" })*@
    <div class="row-fluid">
        <label>Product Name:</label>
        @Html.TextBoxFor(m => m.ProductName, new { @placeholder = "Input Product Name", @class = "span9" })
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label>
                Type:
            </label>
            @Html.DropDownListFor(m => m.ProductTypeId, new SelectList(productType, "IdentityValue", "IdentityValueName"), new { id = "ProductTypeId" })
        </div>
        <div class="span6">
            <label>
                Price:
            </label>
            @Html.DropDownListFor(m => m.OrderBy, new SelectList(orderPrice, "Id", "IdentityValueName"))
        </div>
    </div>
    <div class="row-fluid">
        <label style="display:inline" class="span9"></label>
        <input type="submit" value="Search">
    </div>


  
}  