@using SimpleEcommerceWebsite.Models
@{
    var products = ViewBag.Products == null ? new List<Product>() : ViewBag.Products as List<Product>;
    ViewBag.Title = "Home Page";
}

<div class="well well-small">
    @{
        if (products.Any())
        {
            foreach (var product in products)
            {
                <div class="row-fluid">
                    <div class="span2">
                        <img src="@product.ImageURL" alt="">
                    </div>
                    <div class="span6">
                        <h5>@product.ProductName </h5>
                        <p>
                            @product.Description
                        </p>
                    </div>
                    <div class="span4 alignR">
                        <form class="form-horizontal qtyFrm">
                            <h3>$@product.Price</h3>
                            <div class="btn-group">
                                <button class="defaultBtn" onclick="AddToCart(@product.ProductID,1)"><span class=" icon-shopping-cart"></span> Add to cart</button>
                                <a class="shopBtn" href="/Product/ViewDetail?productId=@product.ProductID">View</a>
                            </div>
                        </form>
                    </div>
                </div>
                <hr class="soften">
            }
        }
        else
        {
            <div class="row-fluid">
                <div class="span6">
                    <h5>Data Not Found </h5>
                    <p>
                        Not found any items yet
                    </p>
                </div>
            </div>
            <hr class="soften">
        }
    }
</div>

<script>
    function DirectView(currentId) {
        window.location.href = '/Product/ViewDetail?productId=' + currentId;
    }
</script>