<div class="well well-small">
    @Html.Partial("~/Views/Shared/Partial/SearchProductPartialView.cshtml")
</div>

<div class="well well-small" id="productItems">
    @Html.Partial("~/Views/Home/PatitalView/ProductIndex.cshtml")
</div>

<script>
    function DirectView(currentId) {
        window.location.href = '/Product/ViewDetail?productId=' + currentId;
    }
    $('#frmSearch').on('submit', function (e) {
        try {

            e.preventDefault();

            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                data: new FormData(this),
                processData: false,
                contentType: false,
                async: true, cache: false, traditional: true,
                success: function (data) {
                    console.log(data);
                    $("#productItems").html(data);
                }
            });
        }
        catch (e) {
            alert(e);
            return false;
        }
    });

</script>
