@model SimpleEcommerceWebsite.Models.Account
@{
    ViewBag.Title = "Login";
}
<ul class="breadcrumb">
    <li><a href="/Home/Index">Home</a> <span class="divider">/</span></li>
    <li class="active">Login</li>
</ul>
<h3>Login</h3>
<hr class="soft" />
<div class="well">
    <div class="row">
        <div class="span4">
            <div class="well">
                <h5>CREATE YOUR ACCOUNT</h5>
                @using (Html.BeginForm("RegisterAccount", "Contact", FormMethod.Post, new { @id = "formRegister" }))
                {
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Email <sup>*</sup></label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.EmailLogin, new { @placeholder = "Email Adress" })
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Password <sup>*</sup></label>
                        <div class="controls">
                            @Html.PasswordFor(m => m.Password, new { @placeholder = "Password" })
                        </div>
                        <div class="controls">
                            <span type="text" style="color:red" id="registerNotification" />
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" name="submitAccount" onclick="return CheckValidate()" class="exclusive shopBtn">Register</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        @*<div class="span1"> &nbsp;</div>*@
        <div class="span4">
            <div class="well">
                <h5>ALREADY REGISTERED ?</h5>
                @using (Html.BeginForm("AccountLogin", "Contact", FormMethod.Post, new { @id = "formLogin" }))
                {
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Email</label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.EmailLogin, new { @placeholder = "Email Adress" })
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword">Password</label>
                        <div class="controls">
                            @Html.PasswordFor(m => m.Password, new { @placeholder = "Password" })
                        </div>
                        <div class="controls">
                            <span type="text" style="color:red" id="signInNotification" />
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="defaultBtn">Sign in</button>
                        </div>
                    </div>
                }
                    @*<lable> &nbsp;</lable>*@
                </div>
        </div>
    </div>
</div>


<script>
    $('#formLogin').on('submit', function (e) {
        try {

            e.preventDefault();

            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                data: new FormData(this),
                processData: false,
                contentType: false,
                async: true, cache: false, traditional: true,
                success: function (data) {
                    console.log(data);
                    if (data.success == false) {
                        $('#signInNotification').text(data.messages);
                    } else {
                        alert('Login Successfull');
                        window.location = '/Home/Index';
                    }
                }
            });
        }
        catch (e) {
            alert(e);
            return false;
        }
    });


    $('#formRegister').on('submit', function (e) {
        try {

            e.preventDefault();

            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                data: new FormData(this),
                processData: false,
                contentType: false,
                async: true, cache: false, traditional: true,
                success: function (data) {
                    console.log(data);
                    if (data.success == false) {
                        $('#registerNotification').text(data.messages);
                    } else {
                        $('#registerNotification').text('Register Success, please login again');
                    }
                }
            });
        }
        catch (e) {
            alert(e);
            return false;
        }
    });

    function CheckValidate() {
        return true;
    }
</script>