@{
    Layout = "/Views/Shared/_No_LeftMenu_Layout.cshtml";
    ViewBag.Title = "ListProduct";

}
<style>
    .wrapper-content {
        margin: auto;
        max-width: 150px;
        height: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }

    p {
        width: 100%;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }

    #product-table {
        table-layout: fixed;
    }

        #product-table .wrapper-content {
            float: left;
        }
</style>
<h2>List Product</h2>
<div class="well">
    @Html.Partial("~/Views/Shared/Partial/SearchProductPartialView.cshtml")
</div>
<div class="well" id="productItems">
    @Html.Partial("~/Views/Product/TableListProducts.cshtml")
</div>

<script>
    function DirectView(currentId) {
        window.location = '/Product/ViewDetail?productId=' + currentId;
    }

    function EditProduct(currentId) {
        window.location = '/Product/UpdateProduct?productId=' + currentId;
    }

    function DeleteProduct(currentId) {

        var isConfirm = confirm('Are you sure to delete this Product?');

        if (isConfirm) {
            $.ajax({
                url: '/Product/DeleteProduct/',
                type: 'POST',
                data: {
                    productId: currentId
                },
                async: false, cache: false, traditional: true,
                success: function (data) {
                    console.log(data);
                    if (data > 0) {
                        alert('Delete success');
                        location.reload();
                    } else {
                        alert('Delete Fail');
                    }
                }
            });
        }
    }

    $('#frmSearch').on('submit', function (e) {
        try {

            e.preventDefault();

            $.ajax({
                url: "/Product/SearchProduct",
                type: this.method,
                data: $(this).serialize(),
                data: new FormData(this),
                processData: false,
                contentType: false,
                async: true, cache: false, traditional: true,
                success: function (data) {
                    console.log(data);
                    $("#productItems").html(data);
                }
            });
        }
        catch (e) {
            alert(e);
            return false;
        }
    });
</script>
